@model List<TheBookCave.Models.ViewModels.BestsellerListViewModel>
@{
    ViewBag.class = "Bestseller";
}
<div>
    @foreach(var bestseller in @Model)
    {
        <h2>@bestseller.title</h2>
        <div id="image">
            <img src="@bestseller.image" alt="Bestseller">
        </div>
        <div id="aboutBestseller">
            <p>Translator: @bestseller.translator</p>
            <p>Original Language: @bestseller.originalLanguage</p>
            <p>Languages: @bestseller.language</p>
            <p>Pages: @bestseller.pages</p>
            <p>Price: @bestseller.price</p>
            <div class="shortDescription">
                <p>Description:</p>
                <p>@author.shortDescription</p>
            </div>
        </div>
    }
</div>